{% extends 'master/base.html' %}

{% block body %}

<div class="card mt-4">
    <div class="card-body">

        <h2>{{ job.title }}</h2>

        <p>
            <strong>Company:</strong>
            {{ job.posted_by.company_name }}
        </p>

        <p>
            <strong>Category:</strong>
            {{ job.category.name }}
        </p>

        <p>
            <strong>Salary:</strong>
            {{ job.salary }}
        </p>

        <p>
            <strong>Openings:</strong>
            {{ job.number_of_openings }}
        </p>

        <p>
            <strong>Skills:</strong>
            {{ job.skills_set }}
        </p>

        <p>
            <strong>Deadline:</strong>
            {{ job.deadline }}
        </p>

        <hr>

        <h5>Job Description</h5>

        <p>
            {{ job.description }}
        </p>

        {% if request.user.user_type == 'Seeker' %}
        <a href="{% url 'apply_job_view' job.id %}"
           class="btn btn-success">
            Apply Now
        </a>
        {% endif %}

    </div>
</div>

{% endblock %}